<template>
	<main v-if="!isLoading" class="fit-content">
		<div class="follows__title">
			<h2>{{ username }} follows list</h2>
		</div>
		<div class="follows__cards">
			<ul v-if="followsProfile.length">
				<li v-for="user in followsProfile" :key="user.id">
					<Profile
						:id="user.id"
						:image="user.image"
						:username="user.username"
						:follows="user.follows"
						:is-followed="user.isFollowed"
					/>
				</li>
			</ul>
			<p v-else class="follows__msg">{{ username }} doesn't follow anyone!</p>
		</div>
	</main>
	<main v-else class="fit-content">
		<div class="follows__loader">
			<Loader />
		</div>
	</main>
</template>

<script>
import Profile from "@/components/Profile.vue";
import Loader from "@/components/Loader.vue";
import api from "@/services/api";

export default {
	components: {
		Profile,
		Loader,
	},
	data() {
		return {
			follows: [],
			followsProfile: [],
			nbfollows: null,
			username: {},
			isLoading: true,
			currentUserFollows: [],
			api,
		};
	},
	async mounted() {
		this.isLoading = true;
		if (!localStorage.getItem("user_id")) {
			this.$router.push("/login");
		}

		const currentUserId = localStorage.getItem("user_id");
		const profileUserId = this.$route.params.slug;

		const user = await this.getUserProfile(profileUserId);
		this.username = user.properties.name;

		await this.getFollowsList(profileUserId);
		await this.getCurrentUserFollowsList(currentUserId);
		this.follows.forEach(async (userId) => {
			const profile = await this.getUserProfile(userId);
			const nbfollows = await this.getNbFollows(userId);
			const user = {
				username: profile.properties.name,
				id: profile.key.name,
				image: profile.properties.image_url,
				follows: nbfollows.properties.Total,
				isFollowed: this.currentUserFollows.includes(userId),
			};
			this.followsProfile.push(user);
		});
		this.isLoading = false;
	},
	methods: {
		async getFollowsList(userId) {
			try {
				const res = await this.api.getFollowsList(userId);
				this.rawFollows = await res.json();
				this.follows = this.rawFollows.items.map((el) => el.properties.Follow);
			} catch(err) {
				alert(err);
			}
		},
		async getCurrentUserFollowsList(userId) {
			try {
				const res = await this.api.getFollowsList(userId);
				this.rawCurrentUserFollows = await res.json();
				this.currentUserFollows = this.rawCurrentUserFollows.items.map((el) => el.properties.Follow);
			} catch(err) {
				alert(err);
			}
		},
		async getUserProfile(userId) {
			try {
				const res = await this.api.getProfile(userId);
				return await res.json();
			} catch(err) {
				alert(err);
			}
		},
		async getNbFollows(userId) {
			try {
				const res = await this.api.getFollowsCount(userId);
				return await res.json();
			} catch(err) {
				alert(err);
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.follows {
	&__title {
		font-family: $heading;
		font-size: $font-sm;
		text-align: center;
		margin-bottom: $md;
	}

	&__loader {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__cards {
		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;

			li {
				display: flex;
				justify-content: center;

				&:not(:last-child) {
					margin-bottom: $sm;
				}
			}
		}
	}

	&__msg {
		text-align: center;
		color: rgba($dark, 0.8);
	}
}
</style>
