// Primary
$primary-dark: #0013a9;
$primary: #003adc;
$primary-light: #7E66FF;

// Accent
$accent-dark: #fe387e;
$accent: #EF49B9;
$accent-light: #ffb2dd;

// Shades
$light: #ffffff;
$dark: #232529;

// Background
$background: #f7f7f8;
