* {
    padding: 0;
	margin: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

p {
	line-height: 1.4;
}

h1,
h2,
h3,
h4 {
	line-height: 1.25;
}

// Base

body,
html {
	height: 100%;
	line-height: 1;
	scroll-behavior: smooth;
	font-family: $paragraph;
	font-size: 16px;
	font-weight: 400;
}

body {
	background-color: $background;
	color: $dark;
}
