
<template>
	<article class="card">
		<slot />
	</article>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.card {
	background-color: $light;
	border-radius: $border-radius;
	box-shadow: $glow;
}
</style>
