<template>
	<div>
		<input :id="id" v-model="checked" type="checkbox" :checked="isChecked" />
		<label :for="id">
			{{ checked ? "Followed" : "Follow" }}
		</label>
	</div>
</template>

<script>
export default {
	props: {
		id: {
			type: String,
			default: "",
		},
		isChecked: {
			type: Boolean,
			default: false,
		}
	},
	data() {
		return {
			checked: false,
		}
	},
	watch: {
		checked() {
			try {
				this.$emit("follow", this.checked);
			} catch(err) {
				alert(err);
			}
		},
		isChecked() {
			this.checked = this.$props.isChecked;
		}
	},
	mounted() {
		this.checked = this.$props.isChecked;
	}
}
</script>

<style lang="scss" scoped>
input[type="checkbox"] {
	appearance: none;
	margin: 0;

	&:checked ~ label {
		border: 2px solid $primary;
		transition: all 0.3s $transition;
		background-color: transparent;
		color: $primary;
	}
}

label {
    padding: $xxs $md !important;
	font-family: $heading;
	font-size: $font-sm;
	font-weight: 700;
	background-color: lighten($primary, 10%);
	color: $light;
	border-radius: $md;
	cursor: pointer;
	user-select: none;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
	border: 2px solid transparent;
	transition: all 0.3s $transition;

	&:hover {
		background-color: $primary;
		transition: all 0.3s $transition;
	}
}
</style>
