<template>
	<aside>
		<Card>
			<div class="create">
				<p>Make this place even better! Create posts and share them to your friends.</p>
				<ul>
					<li>
						<Button to="/post">Create a post</Button>
					</li>
				</ul>
			</div>
		</Card>
	</aside>
</template>

<script>
import Card from "@/components/Card.vue";
import Button from "@/components/Button.vue";

export default {
	components: {
		Card,
		Button,
	}
}
</script>

<style lang="scss" scoped>
aside {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

article {
	position: sticky;
	top: $lg;
}

.create {
	top: 0;
	padding: $lg $md;
	max-width: 300px;

	p {
		font-size: $font-xs;
		color: rgba($dark, 0.8);
		margin-bottom: $md;
		text-align: center;
	}

	ul {
		display: flex;
		flex-direction: column;
		align-items: center;

		li:not(:last-child) {
			margin-bottom: $sm;
		}
	}
}
</style>
