<template>
	<footer>
		<p>Powered by Nuxt & Google AppEngine</p>
		<p>Created with ❤️‍🔥 by <strong>uwuID</strong>, <strong>Ekkaia</strong> & <strong>Tomytoo</strong></p>
	</footer>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $xl 0 $md 0;
	font-size: $font-xs;
	font-family: $heading;

	p:not(:last-child) {
		margin-bottom: $xxs;
	}
}
</style>
