<template>
	<header>
		<Link>
			<h1>Tinygram</h1>
			<nuxt-img src="/logo.png" height="35" />
		</Link>
	</header>
</template>

<script>
import Link from "@/components/Link.vue";

export default {
	components: {
		Link
	}
}
</script>

<style lang="scss" scoped>
header {
	padding: $xl 0 $xl 0;
	display: flex;
	justify-content: center;

	> a {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&:hover {
			text-decoration: none;
		}
	}

	h1 {
		font-family: $heading;
		font-size: $font-xl;
		margin-right: $xs;
	}
}
</style>
