<template>
	<form class="input-search" @submit.prevent="search">
		<input v-model="username" type="text" name="search" placeholder="Find users" />
		<Search />
	</form>
</template>

<script>
import Search from "@/components/Search.vue";

export default {
	components: {
		Search,
	},
	data() {
		return {
			username: null,
		}
	},
	methods: {
		async search() {
			try {
				const res = await fetch(`https://tiny-gram-wcd.oa.r.appspot.com/api/v1/members/search?name=${this.username}`, {
					method: "GET"
				});
				const user = await res.json();
				if (user.error) {
					alert("No user found with this name!");
				} else {
					this.$router.push(`/profile/${user.key.name}`);
				}
			} catch(err) {
				alert(err);
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.input-search {
	position: relative;

	input {
		padding: $sm $md;
		background-color: $light;
		border-radius: $md;
		font-size: $font-md;
		color: rgba($dark, 0.9);
		width: 100%;
		box-shadow: $glow;
		border: 2px solid transparent;
		text-align: center;
		font-weight: 700;
		transition: all 0.3s $transition;

		&::placeholder {
			color: rgba($dark, 0.8);
		}

		&:hover {
			background-color: darken($light, 5%);
			transition: all 0.3s $transition;
		}

		&:focus-visible {
			border: 2px solid $primary;
			outline: none;
		}
	}

	svg {
		position: absolute;
		top: calc($sm + 1px);
		right: $md;
	}
}
</style>
