<template>
	<button :class="{ liked: liked }" @click="like">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			fill="none"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<path
				d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
			></path>
		</svg>
	</button>
</template>

<script>
export default {
	props: {
		isliked: {
			type: Boolean,
			default: false,
		},
	},
	data() {
		return {
			liked: false,
		};
	},
	mounted() {
		this.liked = this.$props.isliked;
	},
	methods: {
		like() {
			this.liked = !this.liked;
			this.$emit("like", this.liked);
		},
	}
}
</script>

<style lang="scss" scoped>
.liked {
	svg {
		fill: $accent-dark;
		stroke: none;
		transition: all 0.5s $transition;
	}
}

button {
	width: $lg;
	height: $lg;
	border-radius: 50%;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s $transition;

	&:hover,
	&:active {
		svg {
			stroke: $accent-dark;
			transition: all 0.5s $transition;
		}
	}

	&:active {
		background-color: rgba($accent-dark, 0.2);
		transition: all 0.3s $transition;
	}
}

svg {
	stroke: rgba($dark, 0.9);
	transition: all 0.5s $transition;
}
</style>
