<template>
	<nuxt-link :to="to">
		<slot />
	</nuxt-link>
</template>

<script>
export default {
	props: {
		to: {
			type: String,
			default: "/"
		},
	},
};
</script>

<style lang="scss" scoped>
a {
	color: $dark;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}
</style>
