<template>
	<Card>
		<div class="post-card">
			<div class="post-card__header">
				<div class="post-card__profile">
					<nuxt-img class="post-card__author-picture" :src="authorpic" width="50" height="50" fit="cover" />
					<div>
						<h4 class="post-card__author">
							<Link :to="'/profile/' + userid">{{ authorname }}</Link>
						</h4>
						<p class="post-card__date">{{ date }}</p>
					</div>
				</div>
			</div>
			<div class="post-card__body">
				<nuxt-img class="post-card__picture" :src="pic" />
				<p class="post-card__description">{{ description }}</p>
			</div>
			<div class="post-card__footer">
				<div class="post-card__like">
					<Like :isliked="isLiked" @like="like" />
					<span>{{ likeCounter }}</span>
				</div>
				<div class="post-card__share">
					<Share />
				</div>
			</div>
		</div>
	</Card>
</template>

<script>
import Card from "@/components/Card.vue";
import Like from "@/components/Like.vue";
import Share from "@/components/Share.vue";
import Link from "@/components/Link.vue";
import api from "@/services/api";

export default {
	components: {
		Card,
		Like,
		Share,
		Link,
	},
	props: {
		authorname: {
			type: String,
			default: "Loading username...",
		},
		authorpic: {
			type: String,
			default: "",
		},
		date: {
			type: String,
			default: "...",
		},
		pic: {
			type: String,
			default: "",
		},
		description: {
			type: String,
			default: "...",
		},
		likes: {
			type: Number,
			default: 0,
		},
		userid: {
			type: String,
			default: "",
		},
		postid: {
			type: String,
			default: "",
		}
	},
	data() {
		return {
			isLiked: false,
			likeCounter: 0,
			api,
		};
	},
	mounted() {
		this.likeCounter = this.$props.likes;
	},
	methods: {
		async like(event) {
			try {
				if (event) {
					await this.api.likeAPost(this.$props.postid);
					const res = await this.api.getPost(this.$props.postid);
					const updatedPost = await res.json();
					this.likeCounter = parseInt(updatedPost.properties.Likes);
				}
			} catch(err) {
				alert(err);
			}
		},
		async getFeed(userId) {
			try {
				const res = await this.api.getFeed(userId);
				this.rawFeed = await res.json();
			} catch(err) {
				alert(err);
			}
		},
	}
}
</script>

<style lang="scss" scoped>
.post-card {
	display: flex;
	flex-direction: column;
	padding: $lg $md;

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: $md;
	}

	&__profile {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: $sm;
	}

	&__author-picture {
		border-radius: 50%;
	}

	&__author {
		font-family: $heading;

		> a::after {
			content: "";
			position: absolute;
			z-index: 1;
			width: $xxl;
			height: 100%;
			top: 0;
			left: 0;
		}
	}

	&__date {
		color: rgba($dark, 0.5);
		font-size: $font-xs;
	}

	&__body {
		margin-bottom: $md;
	}

	&__picture {
		border-radius: $md;
		margin-bottom: $sm;
		object-fit: cover;
		width: 100%;
		height: 400px;
	}

	&__description {
		color: rgba($dark, 0.8);
	}

	&__footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		div:not(:last-child) {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-right: $lg;

			button {
				margin-right: $xxs;
			}
		}
	}
}
</style>
