<template>
	<aside v-if="home" class="profile__container">
		<Card class="sticky">
			<div class="profile">
				<div class="profile__header">
					<nuxt-img class="post-card__author-picture" :src="image" width="50" height="50" fit="cover" />
					<h4 class="post-card__author">
						<Link :to="'/profile/' + id">{{ username }}</Link>
					</h4>
				</div>
				<div class="profile__description">
					<p>Click on your photo or name to access your profile. Click on your follows to see the profiles of the people you follow.</p>
				</div>
				<div class="profile__follow">
					<p>
						<Link :to="'/follows/' + id">{{ follows }} follows</Link>
					</p>
				</div>
			</div>
		</Card>
	</aside>
	<div v-else class="profile__container">
		<Card>
			<div class="profile">
				<div class="profile__header-container">
					<div class="profile__content">
						<nuxt-img class="post-card__author-picture" :src="image" width="50" height="50" fit="cover" />
						<h4 class="post-card__author">
							<Link :to="'/profile/' + id">{{ username }}</Link>
						</h4>
					</div>
					<div v-if="currentUserId !== id" class="profile__follow-btn">
						<CheckboxButton :id="id" :is-checked="isFollowed" @follow="follow" />
					</div>
				</div>
				<div class="profile__follow">
					<p>
						<Link :to="'/follows/' + id">{{ follows }} follows</Link>
					</p>
				</div>
			</div>
		</Card>
	</div>
</template>

<script>
import Card from "@/components/Card.vue";
import CheckboxButton from "@/components/CheckboxButton.vue";
import api from "@/services/api";

export default {
	components: {
		Card,
		CheckboxButton,
	},
	props: {
		image: {
			type: String,
			default: "/"
		},
		username: {
			type: String,
			default: "Loading username..."
		},
		id: {
			type: String,
			default: ""
		},
		follows: {
			type: Number,
			default: 0,
		},
		home: {
			type: Boolean,
			default: false,
		},
		isFollowed: {
			type: Boolean,
			default: false,
		},
	},
	data() {
		return {
			currentUserId: null,
			api,
		}
	},
	mounted() {
		this.currentUserId = localStorage.getItem("user_id");
	},
	methods: {
		async follow(event) {
			try {
				if (event) {
					await this.api.follow(this.currentUserId, this.id);
				} else {
					await this.api.unfollow(this.currentUserId, this.id);
				}
			} catch(err) {
				// alert(err);
				console.log(err);
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.sticky {
	position: sticky;
	top: $lg;
}

.loader {
	padding: $xl $xxl;
	display: flex;
	width: 100%;
}

.profile {
	padding: $lg $md;
	display: flex;
	flex-direction: column;
	width: 100%;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	&__header,
	&__content {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: $sm;
		position: relative;

		a::after {
			content: "";
			position: absolute;
			z-index: 1;
			width: $lg * 3;
			height: 100%;
			top: 0;
			left: 0;
		}

		img {
			margin-right: $xs;
			border-radius: 50%;
		}
	}

	&__header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__description {
		margin-bottom: $sm;

		p {
			color: rgba($dark, 0.8);
			font-size: $font-xs;
		}
	}

	&__follow-btn {
		margin-left: $md;
		margin-bottom: $sm;
	}

	&__follow {
		display: flex;
		flex-direction: row;
	}
}
</style>
