<template>
	<button>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 26 24"
			fill="none"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<circle cx="18" cy="5" r="3"></circle>
			<circle cx="6" cy="12" r="3"></circle>
			<circle cx="18" cy="19" r="3"></circle>
			<line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
			<line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
		</svg>
	</button>
</template>

<style lang="scss" scoped>
button {
	width: $lg;
	height: $lg;
	border-radius: 50%;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s $transition;

	&:hover,
	&:active {
		svg {
			stroke: $primary;
			transition: all 0.5s $transition;
		}
	}

	&:active {
		background-color: rgba($primary, 0.2);
		transition: all 0.3s $transition;
	}
}

svg {
	stroke: rgba($dark, 0.9);
	transition: all 0.5s $transition;
}
</style>
