<template>
	<button class="btn">
		<slot />
	</button>
</template>

<style lang="scss">
.btn {
    padding: $xs $sm !important;
	font-family: $heading;
	font-size: $font-sm;
	font-weight: 700;
	background-color: lighten($primary, 10%);
	color: $light;
	user-select: none;
	border-radius: $md;
	cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
	outline: 2px solid transparent;
	outline-offset: 2px;
	transition: all 0.3s $transition;

	&:hover {
		background-color: $primary;
		transition: all 0.3s $transition;
	}

	&:focus {
		outline: 2px solid $primary;
		transition: all 0.3s $transition;
	}
}
</style>
