<template>
	<main v-if="!isLoading" class="fit-content">
		<div class="profile__title">
			<h2>{{ user.username }} profile</h2>
		</div>
		<div class="profile__card">
			<Profile
				:id="user.id"
				:image="user.image"
				:username="user.username"
				:follows="user.follows"
				:is-followed="isFollowed"
			/>
		</div>
		<div class="profile__posts">
			<ul v-if="posts.length">
				<li v-for="post in posts" :key="post.postid">
					<PostCard
						:userid="post.userid"
						:authorname="post.authorname"
						:authorpic="post.authorpic"
						:date="post.date"
						:pic="post.pic"
						:description="post.description"
						:likes="post.likes"
						:postid="post.postid"
					/>
				</li>
			</ul>
			<div v-else>
				<Card>
					<div class="profile__nopost">
						<p>No post.</p>
					</div>
				</Card>
			</div>
		</div>
	</main>
	<main v-else class="fit-content">
		<div class="profile__loader">
			<Loader />
		</div>
	</main>
</template>

<script>
import Profile from "@/components/Profile.vue";
import PostCard from "@/components/PostCard.vue";
import Loader from "@/components/Loader.vue";
import api from "@/services/api";

export default {
	components: {
		Profile,
		PostCard,
		Loader,
	},
	data() {
		return {
			rawUser: null,
			user: [],
			nbfollows: null,
			isFollowed: false,
			isLoading: true,
			rawPosts: [],
			posts: [],
			api,
		};
	},
	async mounted() {
		this.isLoading = true;
		if (!localStorage.getItem("user_id")) {
			this.$router.push("/login");
		}

		await this.getUserProfile(this.$route.params.slug);
		await this.getNbFollows(this.$route.params.slug);
		this.user = {
			username: this.rawUser.properties.name,
			id: this.rawUser.key.name,
			image: this.rawUser.properties.image_url,
			follows: this.nbfollows.properties.Total
		};

		const currentUserId = localStorage.getItem("user_id");
		const followsList = await this.getFollowsList(currentUserId);
		this.isFollowed = followsList.includes(this.user.id);

		await this.getUserPosts(this.$route.params.slug);

		this.posts = this.rawPosts.items.map((post) => ({
			userid: this.user.id,
			authorname: this.user.username,
			authorpic: this.user.image,
			date: this.$dayjs(post.properties.Date).format("D MMMM YYYY"),
			postid: post.key.id,
			pic: post.properties.Url,
			description: post.properties.Description,
			likes: parseInt(post.properties.Likes)
		}));

		this.isLoading = false;
	},
	methods: {
		async getFollowsList(userId) {
			try {
				const res = await this.api.getFollowsList(userId);
				const list = await res.json();
				return list.items.map((el) => el.properties.Follow);
			} catch(err) {
				alert(err);
			}
		},
		async getUserProfile(userId) {
			try {
				const res = await this.api.getProfile(userId);
				this.rawUser = await res.json();
			} catch(err) {
				alert(err);
			}
		},
		async getUserPosts(userId) {
			try {
				const res = await this.api.getUserPosts(userId);
				this.rawPosts = await res.json();
			} catch(err) {
				alert(err);
			}
		},
		async getNbFollows(userId) {
			try {
				const res = await this.api.getFollowsCount(userId);
				this.nbfollows = await res.json();
			} catch(err) {
				alert(err);
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.profile {
	&__card {
		display: flex;
		justify-content: center;
		margin-bottom: $lg;
	}

	&__loader {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-family: $heading;
		font-size: $font-sm;
		text-align: center;
		margin-bottom: $sm;
	}

	&__posts {
		ul {
			display: flex;
			justify-content: center;
			flex-direction: column;

			li {
				display: flex;
				justify-content: center;

				&:not(:last-child) {
					margin-bottom: $sm;
				}
			}
		}
	}

	&__nopost {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: $lg $md;

		p {
			text-align: center;
			color: rgba($dark, 0.8);
		}
	}
}
</style>
