<template>
	<div class="grid">
		<Header />
		<div class="main">
			<Nuxt />
		</div>
		<Footer />
	</div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
	components: {
		Footer,
		Header,
	}
}
</script>

<style lang="scss">
.fit-content {
	margin-left: auto !important;
	margin-right: auto !important;
	width: 90%;
	max-width: 600px;
}

//Font face
@font-face {
	font-family: "Neue Machina";
	src: url("~assets/fonts/Neue Machina/NeueMachina-Regular.woff2")
		format("woff2");
	font-weight: 400;
	font-display: auto;
}

@font-face {
	font-family: "Neue Machina";
	src: url("~assets/fonts/Neue Machina/NeueMachina-Black.woff2")
		format("woff2");
	font-weight: 900;
	font-display: auto;
}

@font-face {
	font-family: "Neue Machina";
	src: url("~assets/fonts/Neue Machina/NeueMachina-Bold.woff2")
		format("woff2");
	font-weight: 700;
	font-display: auto;
}

@font-face {
	font-family: "Neue Machina";
	src: url("~assets/fonts/Neue Machina/NeueMachina-Ultralight.woff2")
		format("woff2");
	font-weight: 300;
	font-display: auto;
}

@font-face {
	font-family: "Gilroy";
	src: url("~assets/fonts/Gilroy/Gilroy-Medium.otf");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: "Gilroy";
	src: url("~assets/fonts/Gilroy/Gilroy-BlackItalic.otf");
	font-weight: bolder;
	font-style: italic;
	font-display: auto;
}
</style>
