<template>
	<div v-if="!isLoading" class="grid">
		<Create class="aside" />
		<main class="fit-content home">
			<section class="home__search">
				<InputSearch />
			</section>
			<section>
				<ul v-if="feed.length">
					<li v-for="post in feed" :key="post.postid">
						<PostCard
							:userid="post.userid"
							:authorname="post.authorname"
							:authorpic="post.authorpic"
							:date="post.date"
							:pic="post.pic"
							:description="post.description"
							:likes="post.likes"
							:postid="post.postid"
						/>
					</li>
				</ul>
				<div v-else>
					<Card>
						<div class="home__nofeed">
							<p>Nothing in your feed! Try to follow more people!</p>
						</div>
					</Card>
				</div>
			</section>
		</main>
		<Profile
			:id="user.id"
			home
			:image="user.image"
			:username="user.username"
			:follows="user.follows"
			class="aside profile-card"
		/>
	</div>
	<div v-else class="fit-content">
		<div class="loader">
			<Loader />
		</div>
	</div>
</template>

<script>
import PostCard from "@/components/PostCard.vue";
import InputSearch from "@/components/InputSearch.vue";
import Profile from "~/components/Profile.vue";
import Create from "@/components/Create.vue";
import api from "@/services/api";

export default {
	components: {
		InputSearch,
		PostCard,
		Profile,
		Create,
	},
	data() {
		return {
			rawFeed: null,
			feed: [],
			rawUser: null,
			user: {},
			nbfollows: null,
			isLoading: true,
			api,
			rawFeedUsers: [],
			feedUsers: [],
		};
	},
	async mounted() {
		this.isLoading = true;
		if (!localStorage.getItem("user_id")) {
			this.$router.push("/login");
		}

		const userId = localStorage.getItem("user_id");
		await this.getUserProfile(userId);
		await this.getNbFollows(userId);
		this.user = {
			username: this.rawUser.properties.name,
			id: this.rawUser.key.name,
			image: this.rawUser.properties.image_url,
			follows: this.nbfollows.properties.Total
		};
		await this.getFeed(userId);
		this.rawFeedUsers = this.rawFeed.items.map((post) => post.properties.User);
		const feedPromises = this.rawFeedUsers.map((user) => this.getFeedUsersProfile(user));
		this.feedUsers = await Promise.all(feedPromises);

		this.feed = this.rawFeed.items.map((post, i) => ({
			userid: this.feedUsers[i].key.name,
			authorname: this.feedUsers[i].properties.name,
			authorpic: this.feedUsers[i].properties.image_url,
			date: this.$dayjs(post.properties.Date).format("D MMMM YYYY"),
			postid: post.key.id,
			pic: post.properties.Url,
			description: post.properties.Description,
			likes: parseInt(post.properties.Likes)
		}));
		this.isLoading = false;
	},
	methods: {
		async getFeed(userId) {
			try {
				const res = await this.api.getFeed(userId);
				this.rawFeed = await res.json();
			} catch(err) {
				alert(err);
			}
		},
		async getUserProfile(userId) {
			try {
				const res = await this.api.getProfile(userId);
				this.rawUser = await res.json();
			} catch(err) {
				alert(err);
			}
		},
		async getFeedUsersProfile(userId) {
			try {
				const res = await this.api.getProfile(userId);
				return await res.json();
			} catch(err) {
				alert(err);
			}
		},
		async getNbFollows(userId) {
			try {
				const res = await this.api.getFollowsCount(userId);
				this.nbfollows = await res.json();
			} catch(err) {
				alert(err);
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.grid {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 1fr;
}

.profile-card {
	max-width: 300px;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
}

.home {
	&__search {
		margin-bottom: $lg;
	}

	&__profile {
		display: none;
	}

	&__nofeed {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: $lg $md;

		p {
			text-align: center;
			color: rgba($dark, 0.8);
		}
	}
}

ul {
	display: flex;
	flex-direction: column;

	li:not(:last-child) {
		margin-bottom: $md;
	}
}

@media screen and (max-width: $desktop) {
	.grid {
		grid-template-columns: 1fr;
	}

	.aside {
		display: none;
	}

	.home__profile {
		display: flex;
		margin-bottom: $lg;

		> article {
			width: 100%;
			padding: $md;
		}

		&-content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			> div:first-child {
				display: flex;
				flex-direction: row;
				align-items: center;
				column-gap: $sm;
				position: relative;

				img {
					border-radius: 50%;
				}

				a::after {
					content: "";
					position: absolute;
					z-index: 1;
					width: $lg * 3;
					height: 100%;
					top: 0;
					left: 0;
				}
			}
		}
	}
}
</style>
