<template>
	<main class="fit-content">
		<div class="home">
			<Card>
				<div class="home__card">
					<nuxt-img src="/logo.png" height="75" />
					<h1>Tinygram</h1>
					<p>Sign in with Google</p>
					<div class="g-signin2" data-onsuccess="onSignIn"></div>
				</div>
			</Card>
		</div>
	</main>
</template>

<script>
import Card from "@/components/Card.vue";

export default {
	components: {
		Card,
	},
}
</script>

<style lang="scss" scoped>
.home {
	display: flex;
	justify-content: center;
	margin-top: $xxl;

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: $lg $xl;

		img {
			margin-bottom: $xs;
		}

		h1 {
			font-family: $heading;
			font-weight: 700;
			margin-bottom: $xxs;
		}

		p {
			font-family: $paragraph;
			margin-bottom: $lg;
		}
	}
}
</style>
