<template>
	<main class="fit-content post">
		<Card>
			<div class="post__container">
				<h2>Create a post</h2>
				<form class="post__content" @submit.prevent="send">
					<label>
						<span>Image's URL</span>
						<input v-model="url" type="text" placeholder="URL..." />
					</label>
					<label>
						<span>Description</span>
						<input v-model="description" type="text" placeholder="Description..." />
					</label>
					<div class="post__btn">
						<Submit type="submit">Send</Submit>
					</div>
				</form>
			</div>
		</Card>
	</main>
</template>

<script>
import isUrl from "is-url";
import Submit from "@/components/Submit.vue";
import api from "@/services/api";

export default {
	components: {
		Submit,
	},
	data() {
		return {
			description: null,
			url: null,
			userId: null,
			api,
		};
	},
	mounted() {
		if (!localStorage.getItem("user_id")) {
			this.$router.push("/login");
		}
	},
	methods: {
		async send() {
			try {
				const userId = localStorage.getItem("user_id")
				if (this.description && this.url && isUrl(this.url) && userId) {
					await this.api.sendPost(this.description, this.url, userId);
					alert("Post successfully sent!");
					this.$router.push("/");
				} else {
					alert("Form fields should not be empty and URL should be a valid URL.")
				}
			} catch (err) {
				alert(err);
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.post {
	display: flex;
	justify-content: center;
	flex-direction: column;

	h2 {
		text-align: center;
		font-family: $heading;
		margin-bottom: $lg;
	}

	&__container {
		padding: $lg $md;
		justify-content: center;
		flex-direction: column;
	}

	&__content {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-direction: column;


		label:not(:last-child) {
			margin-bottom: $lg;
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
	}

	label {
		display: flex;
		flex-direction: column;
	}

	span {
		font-size: $font-xs;
		font-weight: 700;
		margin-bottom: $xxs;
		color: rgba($dark, 0.8);
	}

	input {
		padding: $xs $sm;
		background-color: $background;
		border-radius: $sm;
		border: 2px solid $primary;
		color: rgba($dark, 0.8);

		&::placeholder {
			color: rgba($dark, 0.8);
		}
	}
}
</style>
